---
---

@import "{{ site.theme }}";

@font-face {
  font-family:'Sometype Mono';
  font-style: normal;
  font-weight: 400;
  src:url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff2-cffbased/SometypeMono-Regular.woff2') format('woff2'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff-cffbased/SometypeMono-Regular.woff') format('woff'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/ttf/SometypeMono-Regular.ttf') format('truetype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/otf/SometypeMono-Regular.otf') format('opentype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/eot/SometypeMono-Regular.eot') format('embedded-opentype');		
}

@font-face {
  font-family:'Sometype Mono';
  font-style: normal;
  font-weight: 500;
  src:	url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff2-cffbased/SometypeMono-Medium.woff2') format('woff2'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff-cffbased/SometypeMono-Medium.woff') format('woff'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/ttf/SometypeMono-Medium.ttf') format('truetype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/otf/SometypeMono-Medium.otf') format('opentype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/eot/SometypeMono-Medium.eot') format('embedded-opentype');		
}

@font-face {
  font-family:'Sometype Mono';
  font-style: normal;
  font-weight: 700;
  src:	url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff2-cffbased/SometypeMono-Bold.woff2') format('woff2'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff-cffbased/SometypeMono-Bold.woff') format('woff'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/ttf/SometypeMono-Bold.ttf') format('truetype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/otf/SometypeMono-Bold.otf') format('opentype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/eot/SometypeMono-Bold.eot') format('embedded-opentype');		
}

@font-face { 
  font-family:'Sometype Mono';
  font-style: italic;
  font-weight: 400;
  src:	url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff2-cffbased/SometypeMono-RegularItalic.woff2') format('woff2'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff-cffbased/SometypeMono-RegularItalic.woff') format('woff'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/ttf/SometypeMono-RegularItalic.ttf') format('truetype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/otf/SometypeMono-RegularItalic.otf') format('opentype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/eot/SometypeMono-RegularItalic.eot') format('embedded-opentype');	
}

@font-face {
  font-family:'Sometype Mono';
  font-style: italic;
  font-weight: 500;
  src:	url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff2-cffbased/SometypeMono-MediumItalic.woff2') format('woff2'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff-cffbased/SometypeMono-MediumItalic.woff') format('woff'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/ttf/SometypeMono-MediumItalic.ttf') format('truetype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/otf/SometypeMono-MediumItalic.otf') format('opentype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/eot/SometypeMono-MediumItalic.eot') format('embedded-opentype');	
}

@font-face {
  font-family:'Sometype Mono';
  font-style: italic;
  font-weight: 700;
  src:url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff2-cffbased/SometypeMono-BoldItalic.woff2') format('woff2'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff-cffbased/SometypeMono-BoldItalic.woff') format('woff'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/ttf/SometypeMono-BoldItalic.ttf') format('truetype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/otf/SometypeMono-BoldItalic.otf') format('opentype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/eot/SometypeMono-BoldItalic.eot') format('embedded-opentype');		
}

body {
  background-color: #ccc;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight: 400;
  font-family:'Sometype Mono';
}