---
---

@import "{{ site.theme }}";

@font-face {
  font-family:'Sometype Mono';
  font-style: normal;
  font-weight: 400;
  src:url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff2-cffbased/SometypeMono-Regular.woff2') format('woff2'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff-cffbased/SometypeMono-Regular.woff') format('woff'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/ttf/SometypeMono-Regular.ttf') format('truetype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/otf/SometypeMono-Regular.otf') format('opentype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/eot/SometypeMono-Regular.eot') format('embedded-opentype');		
}

@font-face {
  font-family:'Sometype Mono';
  font-style: normal;
  font-weight: 500;
  src:	url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff2-cffbased/SometypeMono-Medium.woff2') format('woff2'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff-cffbased/SometypeMono-Medium.woff') format('woff'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/ttf/SometypeMono-Medium.ttf') format('truetype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/otf/SometypeMono-Medium.otf') format('opentype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/eot/SometypeMono-Medium.eot') format('embedded-opentype');		
}

@font-face {
  font-family:'Sometype Mono';
  font-style: normal;
  font-weight: 700;
  src:	url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff2-cffbased/SometypeMono-Bold.woff2') format('woff2'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff-cffbased/SometypeMono-Bold.woff') format('woff'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/ttf/SometypeMono-Bold.ttf') format('truetype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/otf/SometypeMono-Bold.otf') format('opentype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/eot/SometypeMono-Bold.eot') format('embedded-opentype');		
}

@font-face { 
  font-family:'Sometype Mono';
  font-style: italic;
  font-weight: 400;
  src:	url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff2-cffbased/SometypeMono-RegularItalic.woff2') format('woff2'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff-cffbased/SometypeMono-RegularItalic.woff') format('woff'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/ttf/SometypeMono-RegularItalic.ttf') format('truetype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/otf/SometypeMono-RegularItalic.otf') format('opentype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/eot/SometypeMono-RegularItalic.eot') format('embedded-opentype');	
}

@font-face {
  font-family:'Sometype Mono';
  font-style: italic;
  font-weight: 500;
  src:	url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff2-cffbased/SometypeMono-MediumItalic.woff2') format('woff2'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff-cffbased/SometypeMono-MediumItalic.woff') format('woff'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/ttf/SometypeMono-MediumItalic.ttf') format('truetype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/otf/SometypeMono-MediumItalic.otf') format('opentype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/eot/SometypeMono-MediumItalic.eot') format('embedded-opentype');	
}

@font-face {
  font-family:'Sometype Mono';
  font-style: italic;
  font-weight: 700;
  src:url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff2-cffbased/SometypeMono-BoldItalic.woff2') format('woff2'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/woff-cffbased/SometypeMono-BoldItalic.woff') format('woff'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/ttf/SometypeMono-BoldItalic.ttf') format('truetype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/otf/SometypeMono-BoldItalic.otf') format('opentype'),
		url('https://dharmatype.github.io/Sometype-Mono/assets/fonts/eot/SometypeMono-BoldItalic.eot') format('embedded-opentype');		
}

body {
  background-color: #FFF;
  padding:50px;
  font: 12px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#000;
  font-family:'Sometype Mono';
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-family:'Sometype Mono';
}

h1, h2, h3, h4, h5, h6 {
  color:#000;
  margin:0 0 20px;
}

h2 {
  color:#000;
}

h3, h4, h5, h6 {
  color:#000;
}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: 700;
}

a small {
  font-size:12px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

dt {
  color:#000;
  font-weight:700;
}

th {
  color:#000;
}

header ul a {
  line-height:1;
  font-size:12px;
  color:#676767;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul a:hover, header ul a:focus {
  color:#675C5C;
  font-weight:bold;
}

strong {
  color:#000;
  font-weight:700;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#000;
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#000;
  }
}
